*{
    background-color: rgb(34, 32, 32);
    color: whitesmoke;
}

td {
    border: 1px solid rgb(34,32,32);
    height: 60px;
    width: 60px;
    background-color: black;
}

td:hover{
    border-color: whitesmoke;
}
#table{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#tableGrid{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#controlTable{
    display: flex;
    flex-direction: row;
    align-items: center; 
}

#colorTable{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 10px;
}

#currentColor{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 10px;
    margin-right: 20px;
}
