body {
  background-color: black;
  /* text-align: center; */
}

* {
  color: white;
}

.hidden {
  display: none;
}

#playArea {
  position: relative;
  width: 800px;
  height: 800px;
  border: white solid 2px;
  background-color: darkgray;
  margin: 0;
  padding: 0;
}

.pelletClass {
  position: absolute;
  width: 50px;
  height: 50px;
}

#pieImage {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
}
